@font-face {
    font-family: 'Comic Sans';
    src: url(COMIC.TTF);
}

body {
    background: palevioletred;
    font-family: 'Comic Sans';
}

input {
    border: none;
    font-family: 'Comic Sans';
    width: 400px;
    height: 60px;
    font-size: 40px;
    background-color: brown;
    color: aqua;
}

::placeholder {
    color: rgba(0, 255, 255, 0.65);
}

button {
    font-family: 'Comic Sans';
    width: 160px;
    height: 60px;
    font-size: 40px;
    background-color: yellow;
    color: blue;
}

span {
    font-size: 60px;
    color: blue;
}